<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="WorkspaceDirectories" value="C:\Users\adminrinjan\Git\hyper-v-configurations,C:\Users\adminrinjan\Git\Tine-IKTDrift-PowerShell,\\tine.no\IKTDrift\Home\adminrinjan\Documents" />
        <add key="AutoUpdateRootDirectory" value="False" />
    </appSettings>
</configuration>